/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body{
    background-color: #f2f3f8;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

/* Main Container */
.container{
    width: 900px;
    height: 600px;

    background-color: #f5f6fb;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Success Box */
.success-box{
    width: 350px;

    background-color: white;

    padding: 35px 25px;

    border-radius: 15px;

    text-align: center;

    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* Icon Circle */
.icon{
    width: 55px;
    height: 55px;

    border: 2px solid black;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto 20px auto;

    font-size: 24px;
    color: black;
}

/* Heading */
.success-box h1{
    font-size: 20px;

    margin-bottom: 15px;

    color: #111;
}

/* Paragraph */
.success-box p{
    font-size: 14px;

    color: #666;

    line-height: 1.5;

    margin-bottom: 25px;
}

/* Button */
.success-box button{
    background-color: #2f63e0;

    color: white;

    border: none;

    padding: 12px 28px;

    border-radius: 10px;

    font-size: 14px;

    cursor: pointer;
}

/* Hover Effect */
.success-box button:hover{
    background-color: #1f4fc2;
}
